:host {
  /* Добавьте стили для скроллера */
  ::-webkit-scrollbar {
    width: 8px; /* Установите ширину */
    height: 8px; /* Установите высоту */
  }
  
  /* Установите цвет фона и границы для скроллера */
  ::-webkit-scrollbar-thumb {
    background-color: #3a3a3a; /* Установите цвет фона */
    border-radius: 4px; /* Установите радиус границы */
  }
  
  /* Установите цвет трека скроллера */
  ::-webkit-scrollbar-track {
    background-color: rgb(180, 179, 179); /* Установите цвет фона */
  }
}